@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* 멤버 섹션 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}


header,
#home {

    background: black;

    background-size: 100%;

    background-position: center;

    background-attachment: fixed;

    color: white;

    overflow: hidden;
}


.main-slide {
    overflow: hidden;
    position: absolute;
    width: 100%;

    .slide-box {
        display: flex;
        position: relative;
        width: 100%;

        &__main {
            float: 0 0 auto;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                transition: 0.2s;
            }
        }
    }
}


/* 네비게이션 스타일 */
header {
    height: 50px;
    /* 네비게이션 높이 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 20px;
    /* 메뉴 간 간격 */
    font-size: 16px;
    /* 글자 크기 */
    padding: 10px 15px;
    /* 클릭 영역 */
    text-decoration: none;
    /* 밑줄 제거 */
    color: white;
    /* 텍스트 색상: 흰색 */
    font-family: 'Poppins', sans-serif;
    /* 부드러운 폰트 */
    transition: color 0.3s ease, background-color 0.3s ease;
    /* 부드러운 효과 */
}

header nav a:hover {
    color: #ffd700;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 5px;
    /* 모서리를 둥글게 */
}


#home {
    height: 900px;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}
