@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body,
html {
    margin: 0;
    padding: 0;
}


header,
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0lbAXNsQ4reglXWHLk5PJhclsLijlMnSVlUTNo2XZcYyNonc5T4AASGeyWNIZbTx3sr4&usqp=CAU');
  
    background-size: cover;
    
    background-position: center;
    
    background-attachment: fixed;
    
    color: white;
}


/* 네비게이션 스타일 */
header {
    height: 50px;
    /* 네비게이션 높이 */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 20px;
    /* 메뉴 간 간격 */
    font-size: 16px;
    /* 글자 크기 */
    padding: 10px 15px;
    /* 클릭 영역 */
    text-decoration: none;
    /* 밑줄 제거 */
    color: white;
    /* 텍스트 색상: 흰색 */
    font-family: 'Poppins', sans-serif;
    /* 부드러운 폰트 */
    transition: color 0.3s ease, background-color 0.3s ease;
    /* 부드러운 효과 */
}

header nav a:hover {
    color: #ffd700;
    
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 5px;
    /* 모서리를 둥글게 */
}


#home {
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 50px;
    
}
